<div class="content">
    <article class="weui_article">
        <h1 class='title text-center'>黄晓明 杨颖</h1>
        <section>
            <p class='text-center'>作者：Lucien
            </p>
            <p class='text-center'>来源：知乎 著作权归作者所有，转载请联系作者获得授权。</p>
            <div class="weui_msg">
                <div class="weui_text_area">
                    <h1 class="weui_msg_title">操作成功</h1>
                    <p class="weui_msg_desc">内容详情，可根据实际需要安排</p>
                </div>
            </div>
            <p class='text-center'>扫二维码
            </p>
            <p class='text-center'>看看我们的VR婚纱照
            </p>
            <qrcode version="2" error-correction-level="M" size="200" data="string"></qrcode>
        </section>
    </article>
</div>