<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <a href="pdetail.html">
                <img src="./images/banner_0002_1.jpg"/>
                <p>测试1测试1测试1测试1测试1</p>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="pdetail.html">
                <img src="./images/banner_0001_2.jpg"/>
                <p>测试2</p>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="pdetail.html">
                <img src="./images/banner_0000_3.jpg"/>
                <p>测试3</p>
            </a>
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
</div>
<div class="content">
    <div class="weui-row weui-no-gutter" ng-repeat="item in list">
        <div class="h-center">
            <div class="weui-col-50 ">
                <a href="pdetail-small.html">
                    <img class="img-left" src="{{item[0].path}}" alt="">
                </a>
                <p class='desc'>{{item[1].name}}</p>
            </div>
            <div class="weui-col-50">
                <a href="pdetail.html">
                    <img class="img-right" src="{{item[1].path}}" alt="">
                </a>
                <p class='desc'>{{item[1].name}}</p>
            </div>
        </div>
    </div>
    <!--<div class="weui-row weui-no-gutter">-->
    <!--<div class="h-center">-->
    <!--<div class="weui-col-50 ">-->
    <!--<a href="pdetail-small.html">-->
    <!--<img class="img-left" src="./images/swiper-2.jpg" alt="">-->
    <!--</a>-->
    <!--<p class='desc'>微信浏览器</p>-->
    <!--</div>-->
    <!--<div class="weui-col-50">-->
    <!--<a href="pdetail.html">-->
    <!--<img class="img-right" src="./images/swiper-3.jpg" alt="">-->
    <!--</a>-->
    <!--<p class='desc'>微信浏览器</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="weui-row weui-no-gutter">-->
    <!--<div class="h-center">-->
    <!--<div class="weui-col-50 ">-->
    <!--<a href="pdetail-small.html">-->
    <!--<img class="img-left" src="./images/swiper-2.jpg" alt="">-->
    <!--</a>-->
    <!--<p class='desc'>微信浏览器微信浏览器微信浏览器微信浏览器</p>-->
    <!--</div>-->
    <!--<div class="weui-col-50">-->
    <!--<a href="pdetail.html">-->
    <!--<img class="img-right" src="./images/swiper-4.jpg" alt="">-->
    <!--</a>-->
    <!--<p class='desc'>微信浏览器微信浏览器微信浏览器</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="weui-row weui-no-gutter">-->
    <!--<div class="h-center">-->
    <!--<div class="weui-col-50 ">-->
    <!--<a href="pdetail-small.html">-->
    <!--<img class="img-left" src="./images/swiper-2.jpg" alt="">-->
    <!--</a>-->
    <!--<p class='desc'>微信浏览器</p>-->
    <!--</div>-->
    <!--<div class="weui-col-50">-->
    <!--<a href="pdetail.html">-->
    <!--<video autobuffer autoloop loop controls class='video-right'>-->
    <!--<source src="/media/video.oga">-->
    <!--<source src="/media/video.m4v">-->
    <!--<object type="video/ogg" data="/media/video.oga">-->
    <!--<param name="src" value="/media/video.oga">-->
    <!--<param name="autoplay" value="false">-->
    <!--<param name="autoStart" value="0">-->
    <!--<p><a href="/media/video.oga">Download this video file.</a></p>-->
    <!--</object>-->
    <!--</video>-->
    <!--</a>-->
    <!--<p class='desc'>微信浏览器</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="weui-row weui-no-gutter">-->
    <!--<div class="h-center">-->
    <!--<div class="weui-col-50">-->
    <!--<a href="pdetail.html">-->
    <!--<video autobuffer autoloop loop controls class='video-left'>-->
    <!--<source src="/media/video.oga">-->
    <!--<source src="/media/video.m4v">-->
    <!--<object type="video/ogg" data="/media/video.oga">-->
    <!--<param name="src" value="/media/video.oga">-->
    <!--<param name="autoplay" value="false">-->
    <!--<param name="autoStart" value="0">-->
    <!--<p><a href="/media/video.oga">Download this video file.</a></p>-->
    <!--</object>-->
    <!--</video>-->
    <!--</a>-->
    <!--<p class='desc'>微信浏览器</p>-->
    <!--</div>-->
    <!--<div class="weui-col-50 ">-->
    <!--<a href="pdetail-small.html">-->
    <!--<img class="img-right" src="./images/swiper-2.jpg" alt="">-->
    <!--</a>-->
    <!--<p class='desc'>微信浏览器</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="weui-row weui-no-gutter">-->
    <!--<div class="h-center">-->
    <!--<div class="weui-col-50">-->
    <!--<a href="pdetail-small.html">-->
    <!--<img class="img-left" src="./images/swiper-2.jpg" alt="">-->
    <!--</a>-->
    <!--<p class='desc'>微信浏览器</p>-->
    <!--</div>-->
    <!--<div class="weui-col-50">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="weui-row">
        <p class='footer'>@ 2016 we are vspring</p>
    </div>
</div>
<script>
    $(".swiper-container").swiper({
        loop: true,
        autoplay: 3000
    });
</script>
