<div class="profile">
    <div class="profile_top">
        <div class="profile-row">

            <a class="weui_btn weui_btn_mini " href="#">
                <i class="fa fa-comment-o"></i>
            </a>

            <a class="weui_btn weui_btn_mini right" href="#">
                <i class="fa fa-cogs"></i>
            </a>

        </div>
        <div class="avatar">
            <img src="./images/logo-2.png" alt="" class="avatar_image">
            <a class="" href="#">
                请先登录
            </a>
        </div>
    </div>

    <div class="profile-row order">
        <a href="#" class="item">
            <div class="weui_tabbar_icon">
                <i class="fa fa-photo"></i>
            </div>
            <p class="weui_tabbar_label">照片</p>
        </a>
        <a href="#" class="item">
            <div class="weui_tabbar_icon">
                <i class="fa fa-truck"></i>
            </div>
            <p class="weui_tabbar_label">阅读</p>
        </a>
        <a href="#" class="item">
            <div class="weui_tabbar_icon">
                <i class="fa fa-history"></i>
            </div>
            <p class="weui_tabbar_label">点赞</p>
        </a>
    </div>
</div>