<div class="profile">
    <div class="profile_top">
        <div class="profile-row">

            <a class="weui_btn weui_btn_mini " href="#">
                <i class="fa fa-comment-o"></i>
            </a>

            <a class="weui_btn weui_btn_mini right" href="#">
                <i class="fa fa-cogs"></i>
            </a>

        </div>
        <div class="avatar">
            <img src="./images/logo-2.png" alt="" class="avatar_image">
            <a class="" href="#">
                请先登录
            </a>
        </div>
    </div>

    <div class="profile-row order">
        <a href="#" class="item">
            <div class="weui_tabbar_icon">
                <i class="fa fa-photo"></i>
            </div>
            <p class="weui_tabbar_label">照片</p>
        </a>
        <a href="#" class="item">
            <div class="weui_tabbar_icon">
                <i class="fa fa-truck"></i>
            </div>
            <p class="weui_tabbar_label">阅读</p>
        </a>
        <a href="#" class="item">
            <div class="weui_tabbar_icon">
                <i class="fa fa-history"></i>
            </div>
            <p class="weui_tabbar_label">点赞</p>
        </a>
    </div>
</div>
<div class="content">
    <div class="weui-row weui-no-gutter" ng-repeat="item in list">
        <div class="h-center">
            <div class="weui-col-50 ">
                <a href="{{item[0].view}}">
                    <img class="img-left" src="{{item[0].path}}" alt="">
                </a>
                <p class='desc'>{{item[0].name}}</p>
            </div>
            <div class="weui-col-50">
                <a href="{{item[1].view}}">
                    <img class="img-right" src="{{item[1].path}}" alt="">
                </a>
                <p class='desc'>{{item[1].name}}</p>
            </div>
        </div>
    </div>
</div>