<form name="uploadForm" ng-submit="upload()" enctype="multipart/form-data">
    <div class="upload">
        <div class="title">
            图片上传
        </div>
        <div class="weui_cells weui_cells_form weui_cell_no_border">
            <div class="weui_cell weui_cell_no_border">
                <div class="weui_cell_bd weui_cell_primary textarea">
                    <textarea class="weui_textarea" name="remark" ng-model='uploadData.remark' placeholder="亲,请简单描述下~~"
                              rows="3" type="text" required></textarea>
                    <div class="weui_textarea_counter"><span>0</span>/100</div>
                </div>
            </div>
            <div class="weui_cell weui_cell_no_border">
                <div class="weui_uploader_bd">
                    <ul class="weui_uploader_files">
                        <li class="weui_uploader_file" ng-repeat="picture in pictures" ng-click="picture_click($index)"
                            style="background-image:url('{{picture}}')"></li>
                        <div class="weui_uploader_input_wrp" ng-show="show_add">
                            <input class="weui_uploader_input" type="file" accept="image/*" multiple="false"
                                   onchange="angular.element(this).scope().picture_select(this)">
                        </div>
                    </ul>

                </div>
            </div>
            <p class="tips">您一次只能上传{{PICTURES_MAX}}张照片</p>
            <div class="weui_btn_area">
                <button class="weui_btn weui_btn_primary" type="submit">上传</button>
            </div>
        </div>
    </div>
</form>
