body {
  min-height: 100vh;
  /*loading start*/
  /*loading end*/
}
body * {
  box-sizing: border-box;
}
body .text-right {
  text-align: right;
}
body .weui-col-10 {
  width: 10%;
}
body .weui-col-20 {
  width: 20%;
}
body .weui-col-30 {
  width: 30%;
}
body .hidden {
  display: none;
}
body .text-center {
  text-align: center;
}
body p {
  font-size: 14px;
}
body .weui_btn_black {
  background: black;
}
body #loading {
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  margin-top: 0px;
  top: 0px;
}
body #loading-center {
  width: 100%;
  height: 100%;
  position: relative;
}
body #loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 150px;
  width: 150px;
  margin-top: -75px;
  margin-left: -75px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
body .object {
  width: 20px;
  height: 20px;
  background-color: #56bb36;
  position: absolute;
  left: 65px;
  top: 65px;
}
body .object:nth-child(2n+0) {
  margin-right: 0px;
}
body #object_one {
  -webkit-animation: object_one 2s infinite;
  animation: object_one 2s infinite;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
body #object_two {
  -webkit-animation: object_two 2s infinite;
  animation: object_two 2s infinite;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
body #object_three {
  -webkit-animation: object_three 2s infinite;
  animation: object_three 2s infinite;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
body #object_four {
  -webkit-animation: object_four 2s infinite;
  animation: object_four 2s infinite;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
body #object_five {
  -webkit-animation: object_five 2s infinite;
  animation: object_five 2s infinite;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
body #object_six {
  -webkit-animation: object_six 2s infinite;
  animation: object_six 2s infinite;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
body #object_seven {
  -webkit-animation: object_seven 2s infinite;
  animation: object_seven 2s infinite;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
body #object_eight {
  -webkit-animation: object_eight 2s infinite;
  animation: object_eight 2s infinite;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
body #object_big {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50px;
  top: 50px;
  -webkit-animation: object_big 2s infinite;
  animation: object_big 2s infinite;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
body #object_big span {
  position: absolute;
  display: inline-block;
  font-size: 12px;
  margin: auto;
  color: white;
  -webkit-transform: translate(10%, 70%) rotate(-45deg);
          transform: translate(10%, 70%) rotate(-45deg);
}
@-webkit-keyframes object_big {
  50% {
    -webkit-transform: scale(0.5);
  }
}
@keyframes object_big {
  50% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
}
@-webkit-keyframes object_one {
  50% {
    -webkit-transform: translate(-65px, -65px);
  }
}
@keyframes object_one {
  50% {
    transform: translate(-65px, -65px);
    -webkit-transform: translate(-65px, -65px);
  }
}
@-webkit-keyframes object_two {
  50% {
    -webkit-transform: translate(0, -65px);
  }
}
@keyframes object_two {
  50% {
    transform: translate(0, -65px);
    -webkit-transform: translate(0, -65px);
  }
}
@-webkit-keyframes object_three {
  50% {
    -webkit-transform: translate(65px, -65px);
  }
}
@keyframes object_three {
  50% {
    transform: translate(65px, -65px);
    -webkit-transform: translate(65px, -65px);
  }
}
@-webkit-keyframes object_four {
  50% {
    -webkit-transform: translate(65px, 0);
  }
}
@keyframes object_four {
  50% {
    transform: translate(65px, 0);
    -webkit-transform: translate(65px, 0);
  }
}
@-webkit-keyframes object_five {
  50% {
    -webkit-transform: translate(65px, 65px);
  }
}
@keyframes object_five {
  50% {
    transform: translate(65px, 65px);
    -webkit-transform: translate(65px, 65px);
  }
}
@-webkit-keyframes object_six {
  50% {
    -webkit-transform: translate(0, 65px);
  }
}
@keyframes object_six {
  50% {
    transform: translate(0, 65px);
    -webkit-transform: translate(0, 65px);
  }
}
@-webkit-keyframes object_seven {
  50% {
    -webkit-transform: translate(-65px, 65px);
  }
}
@keyframes object_seven {
  50% {
    transform: translate(-65px, 65px);
    -webkit-transform: translate(-65px, 65px);
  }
}
@-webkit-keyframes object_eight {
  50% {
    -webkit-transform: translate(-65px, 0);
  }
}
@keyframes object_eight {
  50% {
    transform: translate(-65px, 0);
    -webkit-transform: translate(-65px, 0);
  }
}
body header {
  width: 100%;
  padding: 5px 0;
  padding-bottom: 0;
}
body header img {
  display: inline-block;
  margin: 5px auto;
  margin-bottom: 0px;
  padding: 3px;
  height: 30px;
}
body header i {
  display: inline-block;
  line-height: 40px;
  font-size: 40px;
  color: #56bb36;
}
body header .tab-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}
body header .tab-container .tab {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  margin: 6px auto;
  font-size: 0;
  border: 1px solid #56bb36;
  border-radius: 16px;
}
body header .tab-container .tab .tab-box {
  display: inline-block;
  margin: 0 auto;
  color: #56bb36;
  padding: 2px 20px;
  text-align: center;
}
body header .tab-container .tab .tab-box i {
  margin-right: 2px;
}
body header .tab-container .tab > .left {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  font-size: 14px;
}
body header .tab-container .tab > .right {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 14px;
}
body header .tab-container .tab > .active {
  border-radius: 15px;
  background: #56bb36;
  color: white;
}
body header .tab-container .tab > .active i {
  color: white;
}
body header div.tags {
  width: 100%;
  padding: 3px;
  text-align: left;
}
body header div.tags .tag {
  display: inline-block;
  font-size: 12px;
  color: #56bb36;
  border: 1px solid #bbbbbb;
  border-radius: 16px;
  padding: 0 15px;
  margin: 2px 5px;
  text-align: center;
}
body header div.tags > .active {
  color: white;
  background: #56bb36;
  border: 1px solid #56bb36;
}
body .bg-black {
  background: black;
}
body div.content {
  height: 100%;
}
body div.content div.v-center {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
}
body div.content div.v-center img {
  width: 100%;
}
body div.content div.v-center .btns-top {
  position: absolute;
  top: 20px;
  left: 15px;
}
body div.content div.v-center .btns-top .btn-circle {
  width: 2.7em;
  height: 2.7em;
  font-size: 14px;
  padding: 0.2em;
  margin: 0;
  border: 0;
  display: inline-block;
  border-radius: 50%;
}
body div.content div.v-center .btns-bottom {
  position: absolute;
  bottom: 20px;
  right: 15px;
}
body div.content div.v-center .btns-bottom .btn-circle {
  width: 2.7em;
  height: 2.7em;
  font-size: 14px;
  padding: 0.2em;
  border: 0;
  margin: 0;
  display: inline-block;
  border-radius: 50%;
}
body div.content .weui-row .weui-col-50 {
  position: relative;
  margin: 0;
  padding: 0;
}
body div.content .weui-row .weui-col-50 p.desc {
  position: absolute;
  color: #000;
  bottom: 5px;
  left: 0px;
  right: 0px;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
body div.content .weui-row .weui-col-50 p.desc:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.3);
}
body div.content article .msg {
  padding: 0;
  margin-top: 10px;
  text-align: center;
}
body div.content article .msg .msg_title {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 20px;
}
body div.content article .msg .weui_msg_desc {
  font-size: 14px;
  color: #888;
}
body div.content .title {
  font-weight: bold;
  font-size: 30px;
}
body div.content .image-middle {
  max-width: 35%;
  margin: 0 auto;
  display: block;
}
body div.content div.h-center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: auto;
}
body div.content div.h-center img {
  width: 100%;
}
body div.content .video-left,
body div.content img.img-left {
  box-sizing: border-box;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 5px;
}
body div.content .video-right,
body div.content img.img-right {
  box-sizing: border-box;
  width: 100%;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 10px;
}
body .swiper-container {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  z-index: 1;
}
body .swiper-container img {
  display: block;
  width: 100%;
}
body .swiper-slide p {
  display: block;
  position: absolute;
  text-align: center;
  bottom: 10px;
  left: 50%;
  color: white;
  font-size: 12px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
}
body div.wedding-container {
  width: 100%;
}
body div.wedding-container p.wedding {
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 1em;
}
body div.wedding-container p.wedding * {
  max-width: 100%;
}
body p.footer {
  text-align: center;
  padding: 10px 0;
  margin: auto;
  color: #999;
  font-size: 12px;
}
