body {
  min-height: 100vh;
}
body * {
  box-sizing: border-box;
}
body .hidden {
  display: none;
}
body .text-center {
  text-align: center;
}
body p {
  font-size: 14px;
}
body .weui_btn_black {
  background: black;
}
body header {
  height: 50px;
}
body header .logo {
  width: 100%;
}
body header div.h-center {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: auto;
}
body .bg-black {
  background: black;
}
body div.content {
  height: 100%;
}
body div.content div.v-center {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
}
body div.content div.v-center img {
  width: 100%;
}
body div.content div.v-center .btns-top {
  position: absolute;
  top: 20px;
  left: 15px;
}
body div.content div.v-center .btns-top .btn-circle {
  width: 2.7em;
  height: 2.7em;
  font-size: 14px;
  padding: 0.2em;
  margin: 0;
  border: 0;
  display: inline-block;
  border-radius: 50%;
}
body div.content div.v-center .btns-bottom {
  position: absolute;
  bottom: 20px;
  right: 15px;
}
body div.content div.v-center .btns-bottom .btn-circle {
  width: 2.7em;
  height: 2.7em;
  font-size: 14px;
  padding: 0.2em;
  border: 0;
  margin: 0;
  display: inline-block;
  border-radius: 50%;
}
body div.content .weui-row .weui-col-50 {
  position: relative;
  margin: 0;
  padding: 0;
}
body div.content .weui-row .weui-col-50 p.desc {
  position: absolute;
  color: #000;
  bottom: 5px;
  left: 0px;
  right: 0px;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
body div.content .weui-row .weui-col-50 p.desc:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.3);
}
body div.content article .msg {
  padding: 0;
  margin-top: 10px;
  text-align: center;
}
body div.content article .msg .msg_title {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 20px;
}
body div.content article .msg .weui_msg_desc {
  font-size: 14px;
  color: #888;
}
body div.content .title {
  font-weight: bold;
  font-size: 30px;
}
body div.content .image-middle {
  max-width: 35%;
  margin: 0 auto;
  display: block;
}
body div.content div.h-center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: auto;
}
body div.content div.h-center img {
  width: 100%;
}
body div.content .video-left,
body div.content img.img-left {
  box-sizing: border-box;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 5px;
}
body div.content .video-right,
body div.content img.img-right {
  box-sizing: border-box;
  width: 100%;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 10px;
}
body div.content p.footer {
  text-align: center;
  width: 100%;
}
body .swiper-container {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}
body .swiper-container img {
  display: block;
  width: 100%;
}
body .swiper-slide p {
  display: block;
  position: absolute;
  text-align: center;
  bottom: 10px;
  left: 50%;
  color: white;
  font-size: 12px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
}
body div.wedding-container {
  width: 100%;
}
body div.wedding-container p.wedding {
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 1em;
}
